.amsn-section-1{
	/*background-color: #1989b5;*/
}
.amsn-section-1-cntlr{
	padding-top: 28px;
}
.amsn-section-1-cntlr p{
	color: #fff;
}
.amsn-section-2{
	margin-bottom: 10px;
}
.amsn-section-2-cntlr{
	padding-top: 22px;
}

.amsn-section-3{
	margin-bottom: 25px;
}
.amsn-section-3-cntlr{
	text-align: center;

}
.amsn-section-4{

}
.amsn-section-4-hedding{
	text-align: center;
	margin-bottom: 35px;
}
.amsn-section-4-hedding a{
	display: inline-block;
	position: relative;
}
.amsn-section-4-hedding a i{
	position: absolute;
	display: inline-block;
	top: -17px;
	left: -17px;
	max-width: 166px;
}
.amsn-section-4-sub-sec1{
	
}
.amsn-section-4-sub-sec2-desc{
	float: left;
	padding-right: 15px;
	width: 75%
}
.amsn-section-4-sub-sec2-img{
	margin-top: -15px;
	float: left;
	width: 25%


}
.amsn-section-5-hedding{
	background: #1096ce;
	border-bottom: 4px solid #c6cdd4;
	margin-bottom: 35px;
}
.amsn-section-5-hedding-cntlr{
	text-align: center;
}
.amsn-section-5-title{
	font-size: 26px;
	position: relative;
	display: inline-block;
	
	color: #fff;
	text-align: center;
	padding: 17px 0;
	padding-right: 80px;
	margin-bottom: 0;
}
.amsn-section-5-title i{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	max-width: 55px;
	display: inline-block;
}
.amsn-section-5-sub-sec2{
	text-align: center;
	margin-bottom: 10px;
}
.amsn-section-5-sub-sec3{

}
.amsn-section-5-sub-sec3 h3{
	font-size: 36px;
	margin-bottom: 22px;
	text-align: center;
	color: #f70000;
	font-family: 'BarlowCondensed-Bold';
}
.amsn-section-5-sub-sec4{
	text-align: center;
}
.amsn-section-5-sub-sec4 a{
	margin-bottom: 45px;
	display: inline-block;
}
.amsn-section-5-sub-sec5{
	max-width: 780px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
}
.amsn-section-5-sub-sec5 p{
	color: #2a0cde;
	font-size: 20px;
}


/*responsive*/
@media(max-width: 767px){
	.amsn-section-4-sub-sec2-desc,
	.amsn-section-4-sub-sec2-img{
		width: 100%;
		float: initial!important;
	}
	.amsn-section-4-sub-sec2-img{
		text-align: center;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	.amsn-section-5-sub-sec3 h3{
		font-size: 30px;
	}
	.amsn-section-5-title{
		font-size: 22px;
	}
}