@font-face {
    font-family: 'Vollkorn';
    src: url('Vollkorn-SemiboldItalic.woff2') format('woff2'),
        url('Vollkorn-SemiboldItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

